@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/BarlowSemiCondensed-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/BarlowSemiCondensed-Bold.woff2") format("woff2");
}

@layer base {
  html {
    font-family: "Barlow Semi Condensed";
    color: #ffffff;
    text-transform: uppercase;
  }
}
